<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.DiannaoxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Diannaoxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="bianhao" jdbcType="VARCHAR" property="bianhao" />    <result column="mingcheng" jdbcType="VARCHAR" property="mingcheng" />    <result column="pinpai" jdbcType="VARCHAR" property="pinpai" />    <result column="xinghao" jdbcType="VARCHAR" property="xinghao" />    <result column="peizhi" jdbcType="VARCHAR" property="peizhi" />    <result column="kucun" jdbcType="VARCHAR" property="kucun" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, bianhao,mingcheng,pinpai,xinghao,peizhi,kucun, addtime
  </sql>
  <select id="quchongDiannaoxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from diannaoxinxi 
    where bianhao = #{bianhao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from diannaoxinxi  where 1=1
    <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="mingcheng!=null">and mingcheng like  concat('%',#{mingcheng,jdbcType=VARCHAR},'%')</if>     <if test="pinpai!=null">and pinpai like  concat('%',#{pinpai,jdbcType=VARCHAR},'%')</if>     <if test="xinghao!=null">and xinghao like  concat('%',#{xinghao,jdbcType=VARCHAR},'%')</if>     <if test="peizhi!=null">and peizhi like  concat('%',#{peizhi,jdbcType=VARCHAR},'%')</if>     <if test="kucun1!=null">and kucun &gt;=  concat('',#{kucun1,jdbcType=VARCHAR},'')</if>     <if test="kucun2!=null">and kucun &lt;=  concat('',#{kucun2,jdbcType=VARCHAR},'')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from diannaoxinxi  where 1=1
    <if test="bianhao!=null">
    and bianhao =#{bianhao}
    </if>
  </select>
  
  <select id="getsydiannaoxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from diannaoxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsydiannaoxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from diannaoxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsydiannaoxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from diannaoxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from diannaoxinxi where 1=1 
     <if test="bianhao!=null">and bianhao like  concat('%',#{bianhao,jdbcType=VARCHAR},'%')</if>     <if test="mingcheng!=null">and mingcheng like  concat('%',#{mingcheng,jdbcType=VARCHAR},'%')</if>     <if test="pinpai!=null">and pinpai like  concat('%',#{pinpai,jdbcType=VARCHAR},'%')</if>     <if test="xinghao!=null">and xinghao like  concat('%',#{xinghao,jdbcType=VARCHAR},'%')</if>     <if test="peizhi!=null">and peizhi like  concat('%',#{peizhi,jdbcType=VARCHAR},'%')</if>     <if test="kucun1!=null">and kucun &gt;=  concat('',#{kucun1,jdbcType=VARCHAR},'')</if>     <if test="kucun2!=null">and kucun &lt;=  concat('',#{kucun2,jdbcType=VARCHAR},'')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diannaoxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diannaoxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Diannaoxinxi">
    insert into diannaoxinxi (id, bianhao,mingcheng,pinpai,xinghao,peizhi,kucun, addtime)
    values (#{id,jdbcType=INTEGER}, #{bianhao,jdbcType=VARCHAR},#{mingcheng,jdbcType=VARCHAR},#{pinpai,jdbcType=VARCHAR},#{xinghao,jdbcType=VARCHAR},#{peizhi,jdbcType=VARCHAR},#{kucun,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Diannaoxinxi">
    insert into diannaoxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bianhao != null"> bianhao, </if>      <if test="mingcheng != null"> mingcheng, </if>      <if test="pinpai != null"> pinpai, </if>      <if test="xinghao != null"> xinghao, </if>      <if test="peizhi != null"> peizhi, </if>      <if test="kucun != null"> kucun, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bianhao != null"> #{bianhao,jdbcType=VARCHAR},</if>      <if test="mingcheng != null"> #{mingcheng,jdbcType=VARCHAR},</if>      <if test="pinpai != null"> #{pinpai,jdbcType=VARCHAR},</if>      <if test="xinghao != null"> #{xinghao,jdbcType=VARCHAR},</if>      <if test="peizhi != null"> #{peizhi,jdbcType=VARCHAR},</if>      <if test="kucun != null"> #{kucun,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Diannaoxinxi">
    update diannaoxinxi
    <set>
	  <if test="bianhao != null"> bianhao = #{bianhao,jdbcType=VARCHAR},</if>      <if test="mingcheng != null"> mingcheng = #{mingcheng,jdbcType=VARCHAR},</if>      <if test="pinpai != null"> pinpai = #{pinpai,jdbcType=VARCHAR},</if>      <if test="xinghao != null"> xinghao = #{xinghao,jdbcType=VARCHAR},</if>      <if test="peizhi != null"> peizhi = #{peizhi,jdbcType=VARCHAR},</if>      <if test="kucun != null"> kucun = #{kucun,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Diannaoxinxi">
    update diannaoxinxi
    set bianhao = #{bianhao,jdbcType=VARCHAR},mingcheng = #{mingcheng,jdbcType=VARCHAR},pinpai = #{pinpai,jdbcType=VARCHAR},xinghao = #{xinghao,jdbcType=VARCHAR},peizhi = #{peizhi,jdbcType=VARCHAR},kucun = #{kucun,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
