<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.YuangongxinxiMapper">
  <resultMap id="BaseResultMap" type="com.entity.Yuangongxinxi">
    <id column="id" jdbcType="INTEGER" property="id" />
	<result column="gonghao" jdbcType="VARCHAR" property="gonghao" />    <result column="mima" jdbcType="VARCHAR" property="mima" />    <result column="xingming" jdbcType="VARCHAR" property="xingming" />    <result column="xingbie" jdbcType="VARCHAR" property="xingbie" />    <result column="bumen" jdbcType="VARCHAR" property="bumen" />    <result column="zhiwu" jdbcType="VARCHAR" property="zhiwu" />    <result column="ruzhishijian" jdbcType="VARCHAR" property="ruzhishijian" />    <result column="dianhua" jdbcType="VARCHAR" property="dianhua" />    <result column="beizhu" jdbcType="VARCHAR" property="beizhu" />    <result column="issh" jdbcType="VARCHAR" property="issh" />    
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gonghao,mima,xingming,xingbie,bumen,zhiwu,ruzhishijian,dianhua,beizhu,issh, addtime
  </sql>
  <select id="quchongYuangongxinxi"  parameterType="java.util.Map" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from yuangongxinxi 
    where gonghao = #{gonghao,jdbcType=VARCHAR} limit 0,1
  </select>
 <select id="getCount"   resultType="int" parameterType="java.util.Map" >
    select  count(*) from yuangongxinxi  where 1=1
    <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="bumen!=null">and bumen like  concat('%',#{bumen,jdbcType=VARCHAR},'%')</if>     <if test="zhiwu!=null">and zhiwu like  concat('%',#{zhiwu,jdbcType=VARCHAR},'%')</if>     <if test="ruzhishijian1!=null">and ruzhishijian &gt;=  concat('',#{ruzhishijian1,jdbcType=VARCHAR},'')</if>     <if test="ruzhishijian2!=null">and ruzhishijian &lt;=  concat('',#{ruzhishijian2,jdbcType=VARCHAR},'')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
  </select> 
  <select id="getAll"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuangongxinxi  where 1=1
    <if test="gonghao!=null">
    and gonghao =#{gonghao}
    </if>
  </select>
  
  <select id="getsyyuangongxinxi1"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuangongxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyyuangongxinxi2"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuangongxinxi  where 1=1
    limit 0,5
  </select>
  <select id="getsyyuangongxinxi3"   resultMap="BaseResultMap" parameterType="java.util.Map" >
    select   <include refid="Base_Column_List" /> from yuangongxinxi  where 1=1
    limit 0,5
  </select>
  
   <select id="getByPage" parameterType="java.util.Map" resultMap="BaseResultMap">
     select  <include refid="Base_Column_List" /> 
     from yuangongxinxi where 1=1 
     <if test="gonghao!=null">and gonghao like  concat('%',#{gonghao,jdbcType=VARCHAR},'%')</if>     <if test="mima!=null">and mima like  concat('%',#{mima,jdbcType=VARCHAR},'%')</if>     <if test="xingming!=null">and xingming like  concat('%',#{xingming,jdbcType=VARCHAR},'%')</if>     <if test="xingbie!=null">and xingbie like  concat('%',#{xingbie,jdbcType=VARCHAR},'%')</if>     <if test="bumen!=null">and bumen like  concat('%',#{bumen,jdbcType=VARCHAR},'%')</if>     <if test="zhiwu!=null">and zhiwu like  concat('%',#{zhiwu,jdbcType=VARCHAR},'%')</if>     <if test="ruzhishijian1!=null">and ruzhishijian &gt;=  concat('',#{ruzhishijian1,jdbcType=VARCHAR},'')</if>     <if test="ruzhishijian2!=null">and ruzhishijian &lt;=  concat('',#{ruzhishijian2,jdbcType=VARCHAR},'')</if>     <if test="dianhua!=null">and dianhua like  concat('%',#{dianhua,jdbcType=VARCHAR},'%')</if>     <if test="beizhu!=null">and beizhu like  concat('%',#{beizhu,jdbcType=VARCHAR},'%')</if>     
	 order by id desc
     <if test="pageno!=null and pageSize!=null">
     limit #{pageno},#{pageSize}
     </if>
     </select>
	 
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yuangongxinxi
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yuangongxinxi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Yuangongxinxi">
    insert into yuangongxinxi (id, gonghao,mima,xingming,xingbie,bumen,zhiwu,ruzhishijian,dianhua,beizhu, addtime)
    values (#{id,jdbcType=INTEGER}, #{gonghao,jdbcType=VARCHAR},#{mima,jdbcType=VARCHAR},#{xingming,jdbcType=VARCHAR},#{xingbie,jdbcType=VARCHAR},#{bumen,jdbcType=VARCHAR},#{zhiwu,jdbcType=VARCHAR},#{ruzhishijian,jdbcType=VARCHAR},#{dianhua,jdbcType=VARCHAR},#{beizhu,jdbcType=VARCHAR}, #{addtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Yuangongxinxi">
    insert into yuangongxinxi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gonghao != null"> gonghao, </if>      <if test="mima != null"> mima, </if>      <if test="xingming != null"> xingming, </if>      <if test="xingbie != null"> xingbie, </if>      <if test="bumen != null"> bumen, </if>      <if test="zhiwu != null"> zhiwu, </if>      <if test="ruzhishijian != null"> ruzhishijian, </if>      <if test="dianhua != null"> dianhua, </if>      <if test="beizhu != null"> beizhu, </if>      
      <if test="addtime != null">
        addtime,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gonghao != null"> #{gonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> #{xingbie,jdbcType=VARCHAR},</if>      <if test="bumen != null"> #{bumen,jdbcType=VARCHAR},</if>      <if test="zhiwu != null"> #{zhiwu,jdbcType=VARCHAR},</if>      <if test="ruzhishijian != null"> #{ruzhishijian,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> #{dianhua,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        #{addtime,jdbcType=VARCHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Yuangongxinxi">
    update yuangongxinxi
    <set>
	  <if test="gonghao != null"> gonghao = #{gonghao,jdbcType=VARCHAR},</if>      <if test="mima != null"> mima = #{mima,jdbcType=VARCHAR},</if>      <if test="xingming != null"> xingming = #{xingming,jdbcType=VARCHAR},</if>      <if test="xingbie != null"> xingbie = #{xingbie,jdbcType=VARCHAR},</if>      <if test="bumen != null"> bumen = #{bumen,jdbcType=VARCHAR},</if>      <if test="zhiwu != null"> zhiwu = #{zhiwu,jdbcType=VARCHAR},</if>      <if test="ruzhishijian != null"> ruzhishijian = #{ruzhishijian,jdbcType=VARCHAR},</if>      <if test="dianhua != null"> dianhua = #{dianhua,jdbcType=VARCHAR},</if>      <if test="beizhu != null"> beizhu = #{beizhu,jdbcType=VARCHAR},</if>      
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  <update id="updateByPrimaryKey" parameterType="com.entity.Yuangongxinxi">
    update yuangongxinxi
    set gonghao = #{gonghao,jdbcType=VARCHAR},mima = #{mima,jdbcType=VARCHAR},xingming = #{xingming,jdbcType=VARCHAR},xingbie = #{xingbie,jdbcType=VARCHAR},bumen = #{bumen,jdbcType=VARCHAR},zhiwu = #{zhiwu,jdbcType=VARCHAR},ruzhishijian = #{ruzhishijian,jdbcType=VARCHAR},dianhua = #{dianhua,jdbcType=VARCHAR},beizhu = #{beizhu,jdbcType=VARCHAR},  addtime = #{addtime,jdbcType=VARCHAR} where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
